
.dark1 {
    background-color: #171717;
}

.dark2 {
    background-color: #545454;
}

.light1 {
    background-color: #F0F0F0;
}

.light2 {
    background-color: 545454;
}

.accent {
    background-color: #A50020;
}


.text1 {
    font-family: 'Playfair Display', serif;
}

.text2 {
    font-family: 'Montserrat', sans-serif;
}