
.bg-dark1 {
    background-color: #171717;
}

.bg-dark2 {
    background-color: #545454;
}

.bg-light1 {
    background-color: #F0F0F0;
}

.bg-light2 {
    background-color: #545454;
}

.bg-accent {
    background-color: #A50020;
}


.text-dark1 {
    color: #171717;
}

.text-dark2 {
    color: #545454;
}

.text-light1 {
    color: #F0F0F0;
}

.text-light2 {
    color: #545454;
}

.text-accent {
    color: #A50020 !important;
}


.text1 {
    font-family: 'Playfair Display', serif;
}

.text2 {
    font-family: 'Montserrat', sans-serif;
}